html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: inline-block;
}

img {
  width: 100%;
  padding: .4em .75em .5em;
  display: inline-block;
  vertical-align: middle;
}

h2 {
  display: inline-block;
  color: #333;
  font-weight: bold;
  margin: 0;
}

.main {
  display: inline-block;
  max-width: 25em;
}

.body {
  display: inline;
  text-align: left;
}

.body p {
  display: inline-block;
  padding-bottom: 2em;
}

.body a {
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #333;
  text-decoration: none;
  color: #666;
  padding: 1em;
  text-align: center;
}
