html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline;
}

img {
  width: 100%;
}

.image {
  padding: .4em .75em .5em;
  display: inline-block;
}

h1 {
  display: inline-block;
  color: #333;
  font-weight: bold;
  margin: 0;
}

.main {
  display: inline-block;
  max-width: 25em;
  margin: 1.5rem;
}

.body {
  display: inline;
}

p {
  display: inline-block;
  padding-bottom: 2em;
}

a {
  color:
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #333;
  text-decoration: none;
  color: #666;
  padding: 1em;
}
