html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

.img {
  display: inline-block;
  padding: .4em .75em .5em;
  margin: 1.5rem 0;
}

img {
  width: 100%;
  display: block;
  max-width: 25em;
  padding: 0em;
}

.main {
  display: inline-block;
  text-align: left;
  max-width: 25em;
  padding: 1em;
  margin: 0;
}

h2 {
  display: block;
  color: #333;
  font-weight: bold;
}

p {
  display: inline;
}

.btn {
  display: block;
  border-radius: 6px;
  margin-top: 1.5rem;
  padding: .4em .75em .5em;
  text-decoration: none;
  text-align: center;
  color: #666;
  font-weight: bold;
  border-color: #eee9de;
  border: 3px solid #333;
  max-width: 8em;
}

a:hover {
  color: #fff;
  background-color: #333;
}
